.App {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.Hero {
  color: white;
  background-color: #81A4CD;
  height: 500px;
}

.Content {
  height: 100vh;
}

.Hero,
.Content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  font-size: 54px;
  text-align: center;
}
