.Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Nav-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  max-width: 860px;
  margin: 0 auto;
}

.Menu-Button {
  color: white;
  text-decoration: none;
}